/* UTILS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
     font-family: 'Work Sans', sans-serif;
}

/* NAVBAR STYLES */
.container{
    background-color: #FF900E1A;
}
.navbar{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    align-items: center;
    gap: 30px;
}

.navbar a{
    text-decoration: none;
    color: #424242;
}
.nav-title{
    margin-right: 500px;
    font-size: 35px;
}

/* BANNER STYLES */
.banner{
    text-align: center;
    margin-top: 115px;
    margin-left: 180px;
    margin-right: 200px;
    padding-bottom: 30px;
}
.banner-title{
    font-size: 54px;
    font-weight: 700;
}
.banner-des{
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}
.button .btn{
    margin-bottom: 50px;
   width: 150px;
   height: 50px;
   background-color: rgb(245, 127, 17);
   border: none;
   border-radius: 5px;
   color: white;
   font-weight: 700;
}
.banner-img img{
    height: 600px;
    width: 1000px;
    margin-right: 0;
}
/* QUICK LIST STYLES */
.quick-list{
    display: flex;
    text-align: left;
    margin: 85px 180px;
    gap: 40px;
    align-items: center;
}
.quick-list-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
.quick-list img{
    width: 300px;
    height: 300px;
}

.quicklist{
    color: #727272;
}
.quick-list-title{
    font-size: 25px;
}
.quick-list-des{
    color: #727272;
    padding-bottom: 20px;
}

/* FEATURE STYLES */
   .features{
    display: flex;
    margin: 100px;
    gap: 60px;
   }
.feature-title{
    font-size: 45px;
    border-left: #FF900E 5px solid;
    padding-left: 20px;
}
.features p{
    color: #727272;
}
.feature-info .info{
    box-shadow: rgb(230, 222, 222) 2px 2px 5px 5px;
    padding: 10px;
    border-radius: 5px;
}
.info{
 margin-top: 30px;
}

.exp{
    font-size: 16px;
}
.feature-img img{
    width: 500px;
    height: 700px;
    margin-top: 200px;
    position: relative;
}

.button2{
    position: absolute;
    transform: translate(-530px , 850px);
    height: 120px;
    width: 220px;
    font-size: 35px;
    color: white;
    background-color: #ff8902;
    border: none;
    border-radius: 10px;
}
.ff{
    color: #ff8902;
}
/* SOME FACTS STYLES */
.achivements{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}
.some-facts{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 650px;
}
.some-facts p{
    color: #727272;
}
/* ACHIVEMENTS */
.awards{
    height: 130px;
    width: 150px;
    border: 2px solid #FF900E;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}
.awards:hover{
    background-color: #FF900E;
    color: white;
    transition: 0.5s ease-out;
}
/* SPONSORS STYLE */
.sponsors{
    margin-top: 100px;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}
.sponsors-title h2{
    font-size: 35px;
}
.sponsors-des{
    color: #727272;
}
.sponsors-img{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
    filter: grayscale(100%);
}
/* FOOTER STYLE */
.footer p{
    color: #727272;
    text-align: center;
    margin: 150px;
    background-color: rgb(255, 213, 188);
    padding: 20px;
}

/* RESPONSIVE DESIGN */
@media only  screen and (max-width: 576px) {

   .quick-list-img{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 20px;
    margin-right: 20px;
    
   }
   .quick-list{
    flex-direction: column-reverse;
    margin: 85px 60px;
   }
   .features{
    flex-direction: column;
    margin: 20px;
   }
  .feature-img img{
    width: 100%;
    height: 400px;
    }
    .button2{
        transform: translate(-300px, 0px);
    }
    .some-facts{
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
   .achivements{
    flex-direction: column;
    gap: 20px;
   }
   .feature-title{
    font-size: 30px;
   }
   .sponsors{
    margin-top: 100px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
.sponsors-title h2{
    font-size: 20px;
}
.sponsors-img{
    flex-direction: column;
    align-items: center;
}

    .footer p{
        color: #727272;
        text-align: center;
        margin: 10px;
        background-color: rgb(255, 213, 188);
        padding: 20px;
    }
    .banner-img img{
        height: 250px;
        width: 250px;
}
.navbar{
    flex-direction: column;
}
.nav-title{
    margin-right: 10px;
    font-size: 35px;
}
.banner{
    text-align: center;
    margin-top: 115px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 30px;
}
.banner-title{
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    margin-right: 20px;
}
.banner-des{
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

}